/* 登录页--开始 */
.login-all {
    z-index: 999;
    width: 100%;
}

.login-body {
    width: 100%;
    height: 220px;
    background: rgba(234, 255, 240, 1);
    position: relative;
}

.login-bg {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

.login-bg img {
    width: 100%;
    height: 100%;
}

.hv-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-words {
    display: flex;
    position: absolute;
    top: 44px;
    left: 16vw;
}

.login-logo img {
    height: 100px;
}

.ll-words {
    padding: 15px 20px;
}

.ll-words h1 {
    font-size: 36px;
    color: #096BAD;
    font-weight: 400;
}

.ll-words p {
    font-size: 24px;
    color: #7F7F7F;
}

.login-form {
    width: 400px;
    height: 430px;
    border-radius: 4px;
    -moz-box-shadow: 1px 1px 5px rgba(9, 107, 173, 1);
    -webkit-box-shadow: 1px 1px 5px rgba(9, 107, 173, 1);
    box-shadow: 10px 10px 15px rgba(9, 107, 173, 1);
    background-color: rgba(234, 255, 240, 1);
    border: none;
    position: absolute;
    top: -100px;
    right: 14vw;
}

.lof-tittle {
    text-align: center;
    padding: 28px 0;
}

.login-form .layui-form-label {
    width: 70px;
}

.login-form .layui-input-block {
    width: 266px;
    margin-left: 100px;
}

.login-btn {
    text-align: center;
}

.login-btn button {
    padding: 0 152px;
    border-radius: 5px;
    background: rgba(22, 155, 213, 1);
}

.login-form .layui-form-select dl dd.layui-this {
    background: rgba(94, 170, 183, .7);
}

.login-form .layui-form-radio>i:hover,
.layui-form-radioed>i {
    color: #797979;
}

.login_tit {
    color: #555555;
}

/* 登录页--结束 */



/* 教师首页--开始 */
.main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /*IE6不识别min-height*/
    position: relative;
    width: 100%;
    margin: 0 auto -48px;
    background-color: #fff;
    /*margin-bottom的负值等于footer高度*/
}

html,
body {
    background-color: rgba(242, 242, 242, 1);
    margin: 0;
    padding: 0;
    height: 100%;

}

.head {
    width: 100%;
    height: 70px;
    background: rgba(94, 170, 183, 1);
    position: relative;
}

.head-logo {
    height: 70px;
}

.head-logo img {
    width: 200px;
    height: auto;
    padding: 14px 30px;
}

.user-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 65px 0 10px;}

.user-pic img {
    width: 100%;
    height: 100%;
}

.head-user {
    padding: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}

.user-name {
    font-size: 16px;
    color: #333333;
}

.quit {
    color: #fff;
    font-size: 16px;
    margin: 0 40px;
    cursor: pointer;
}

.school {
    color: #38666E;
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%;
    padding: 20px 0;
}

.school span {
    letter-spacing: 10px;
    font-size: 20px;
}

.body-container {
    width: 1280px;
    margin: 16px auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.theform {
    width: 100%;
    height: 760px;
    border-radius: 5px;
    border: 1px solid rgba(94, 170, 183, 1);
    box-shadow: 1px 1px 5px rgba(94, 170, 183, 0.298039215686275);
    background: rgba(255, 255, 255, 1);
    position: relative;
}

.theform-head {
    background: rgba(94, 170, 183, 1);
    height: 48px;
    position: relative;
}

.th_head {
    width: 120px;
    height: 43px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px 2px 0 0;
    position: absolute;
    top: 5px;
    left: 20px;
}

.tuichu {
    color: #fff;
}

.th_head span {
    font-size: 16px;
}

.theform-select {
    width: 100%;
    height: 60px;
}

.theform-select .layui-form {
    margin: 15px 10px;
}

.theform-select .layui-form-select dl dd.layui-this {
    background: rgba(94, 170, 183, .7);
}

.theform-select .layui-input-block button {
    background-color: rgba(94, 170, 183, 1);
    padding: 0 26px;
    border-radius: 5px;
}

.theform-select .ts_body {
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #afd5db;
}

.theform-body {
    text-align: center;
    padding: 0 15px 15px 15px;
}

.theform-body thead th {
    text-align: center;
    font-weight: 600;
    color: #333333;
}

.tb_beagin {
    padding: 8px 10px;
    border: 1px solid #afd5db;
    border-radius: 2px;
    color: #5EAAB7;
    background: #f7fbfc;
}

.tb_end {
    padding: 8px 10px;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    color: #7F7F7F;
    background: #f2f2f2;
}

.tb_detail {
    color: #fff;
    background: rgba(94, 170, 183, 1);
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    line-height: 30px;
}

.push,
.foot {
    height: 48px;
    clear: both;
}

.foot {
    width: 100%;
    background: rgba(51, 51, 51, 1);
    bottom: 0;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 48px;
    position: relative;
}

/* 教师首页--结束 */


/* 测评详情--开始 */
.theform-head-cpxq {
    background: rgba(94, 170, 183, 1);
    height: 48px;
    position: relative;
}

.theform-head-cpxq img {
    width: 36px;
    height: auto;
    margin: 12px;
}

.theform-head-cpxq span {
    color: #fff;
    font-size: 16px;
    padding: 0 15px;
}

.table-name {
    margin-top: 10px;
    color: #5EAAB7;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    height: 48px;
    line-height: 48px;
    background: #f2f2f2;
}

.tb_nostart {
    padding: 8px 10px;
    border: 1px solid #f4b3bb;
    border-radius: 2px;
    color: rgba(217, 0, 27, 0.6);
    background: #fdf3f4;
}

.tb_finish {
    padding: 8px 10px;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    color: #7F7F7F;
    background: #f2f2f2;
}

.tb_cantedit {
    color: #AAAAAA;
    background: #d7d7d7;
    border-radius: 5px;
    padding: 8px 20px;
    line-height: 30px;
    cursor: no-drop;
}

/*.tb_detail_studus {
    color: #fff;
    background: rgba(94, 170, 183, 1);
    border-radius: 5px;
    padding: 8px 20px;
    line-height: 30px;
    position: relative;
}

.studus-num {
    white-space: nowrap;
    padding-top: 1px;
    background-color: #fff849;
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
    margin-right: 3px;
    padding: 0px 4px;
    color: #000;
    -moz-box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
    box-shadow: 1px 1px 3px #aaa;
    position: absolute;
    top: -5px;
    right: 0;
    cursor: help;
}
*/
.txt_examtit {
    margin-left: 30px;
}

.btn_jiaojuan {
    background-color: #5EAAB7;
    border-radius: 5px;
}

.sousuo_txt {
    margin-left: 5px;
}

.num_test {
    color: #5EAAB7;

}

.fg_num {
    padding: 0 5px;
}

.btn_status {
    padding: 0 10px;
}

.tb_status {
    color: #555555;
    background-color: #F7FBFC;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    line-height: 30px;
    border: #5EAAB7 1px solid;
}

.t_class td,
.t_class th {
    padding: 15px 5px;

}

.btn_result {
    background-color: #5EAAB7;
    border: #5EAAB7 1px solid;


}

.layui-btn-group .btn_unresult {
    margin-left: 5px !important;
    margin-right: 0 !important;
    border-left: 1px solid #5EAAB7;
    border-radius: 0;

}

.btn_unresult {
    background-color: #F7FBFC;
    border: #5EAAB7 1px solid;
    color: #5EAAB7;

}

.btn_unresult:hover {
    background-color: #F7FBFC;
    border: #5EAAB7 1px solid;
    color: #5EAAB7;

}

.layui-layer-btn .layui-layer-btn0 {
    border-color: #5EAAB7 !important;
    background-color: #5EAAB7 !important;
    color: #fff;
}

.mainmenu {
    height: 160px;
    width: 150px;
    background-color: #eee;
    z-index: 100;
    margin-top: 115px;
    position: absolute;
    display: none;
    margin-left: 125px;
}

.mainmenu li {
    height: 50px;
    line-height: 50px;


}

.edit_info {
    padding: 10px 47px;
    font-size: 14px;

}

.edit_info:hover {

    background-color: #5EAAB7;
    color: #fff;
}

.xiala {
  
    position: absolute;
    line-height: 55px;
    padding: 0 5px;
}
.input_edit{
    margin-top: 6px;
    border: #5EAAB7 1px solid;
}
.edit_pwd{
    background-color: #5EAAB7;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.icon_pwd{
    padding: 0 5px;
}
/* 班级测评答题卡 */

.theform-body .report-time {
    text-align: right;
    padding: 10px;
}

.theform-body .report-tittle {
    margin-top: 20px;
}

.class_answer .layui-table-cell{
    overflow: initial !important;
    white-space: pre;
}
.report-time span{
    margin: 0 10px;
}


/*个人测评*/
.dati_info{
    line-height: 50px;
    font-size: 14px;
    margin-left: 0;
    font-weight: 600;
    text-align: center;
    color: #555555;
}
.dati_info span{
  padding: 0 30px;
 
}
.btn_result{
    background-color: #5EAAB7;
    border: #5EAAB7 1px solid;
  
    
}
.layui-btn-group .btn_result {
    margin-left: 5px!important;
   
}
.btn_daochu{
    float: right;
}