/* 测评结果页面 ---- 开始-------*/
.btn_result{
    background-color: #5EAAB7;
    border: #5EAAB7 1px solid;
  
    
}
.layui-btn-group .btn_result {
    margin-left: 5px!important;
   
}


.tb_beagin {
    padding: 8px 10px;
    border: 1px solid #afd5db;
    border-radius: 2px;
    color: #5EAAB7;
    background: #f7fbfc;
}

.tb_end {
    padding: 8px 10px;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    color: #7F7F7F;
    background: #f2f2f2;
}

.tb_detail {
    color: #fff;
    background: rgba(94, 170, 183, 1);
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    line-height: 30px;
}

.theform-head-cpxq {
    background: rgba(94, 170, 183, 1);
    height: 48px;
    position: relative;
}

.theform-head-cpxq img {
    width: 36px;
    height: auto;
    margin: 12px;
}

.theform-head-cpxq span {
    color: #fff;
    font-size: 16px;
    padding: 0 15px;
}

.table-name {
    margin-top: 10px;
    color: #5EAAB7;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    height: 48px;
    line-height: 48px;
    background: #f2f2f2;
}
.txt_examtit{
    margin-left: 30px;
}
.tb_nostart {
    padding: 8px 10px;
    border: 1px solid #f4b3bb;
    border-radius: 2px;
    color: rgba(217, 0, 27, 0.6);
    background: #fdf3f4;
}

.tb_finish {
    padding: 8px 10px;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    color: #7F7F7F;
    background: #f2f2f2;
}

.tb_cantedit {
    color: #AAAAAA;
    background: #d7d7d7;
    border-radius: 5px;
    padding: 8px 20px;
    line-height: 30px;
    cursor: no-drop;
}
.layui-table td, .layui-table th {
    position: relative;
    padding: 12px 5px;
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
}
.classAnswer{
    top: 12%;
    display: flex;
    position: absolute;
    left:85%;
}
.class_as{
 
    font-size: 14px;
    color: #5EAAB7;
    font-weight: 600;
    padding: 0 4px;
}
.input_edit{
    margin-top: 6px;
    border: #5EAAB7 1px solid;
}
.edit_pwd{
    background-color: #5EAAB7;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.icon_pwd{
    padding: 0 5px;
}
.layui-layer-btn .layui-layer-btn0 {
    border-color: #5EAAB7 !important;
    background-color: #5EAAB7 !important;
    color: #fff;
}


/* 学生管理页面----开始----- */
.resetpwd{
    float: right;
   margin-right: 10px;
   margin-top: 10px;
   background-color: #5EAAB7;
   font-weight: normal;
}
.btn_unresult {
    background-color: #F7FBFC;
    border: #5EAAB7 1px solid;
    color: #5EAAB7;
}
.btn_unresult:hover{
    background-color: rgba(94, 170, 183, 1);
    color: #fff;
    opacity: 1;
}
.layui-form-select dl dd.layui-this {
    background-color: #5EAAB7;
    color: #fff;
}
body .demo-class .layui-layer-title{background:#5EAAB7; color:#333;font-weight: 600;}

.reset{
    padding: 0 30px 0 0;
    margin-top: 30px;
}
.layui-table-cell {
    height: 40px;
    line-height: 40px;
}


