



.waitingfor{
    height: 43px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 20px;
    color: #fff;
}

.wait_txt {
    font-size: 16px;
    margin-left: 10px;
    line-height: 40px;
}

.exam_time {
    padding: 0 20px;
}

.q_topic {
    color: #5EAAB7;
    padding: 0 5px;
}

.theform_stu {
    border-radius: 5px;
    border: 1px solid rgba(94, 170, 183, 1);
    box-shadow: 1px 1px 5px rgba(94, 170, 183, 0.298039215686275);
    background: rgba(255, 255, 255, 1);
    position: relative;
    margin-left: 20px;

}

.stuform-head {
    background: rgba(94, 170, 183, 1);
    height: 48px;
    border-radius: 5px;
}

.stu_info {
    text-align: center;
    margin: 0 auto;
    line-height: 48px;
    color: #fff;
}

.ellipse_one {
    border-width: 0px;
    position: absolute;
    left: 36px;
    top: 36px;
    width: 6px;
    height: 6px;
    display: flex;
    opacity: 0.6;
}

.ellipse_o {
    border-width: 0px;
    position: absolute;
    left: 33px;
    top: 33px;
    width: 12px;
    height: 12px;
    display: flex;
}

.ellipse_two {
    border-width: 0px;
    position: absolute;
    left: 273px;
    top: 36px;
    width: 6px;
    height: 6px;
    display: flex;
    opacity: 0.6;
}

.ellipse_t {
    border-width: 0px;
    position: absolute;
    left: 270px;
    top: 33px;
    width: 12px;
    height: 12px;
    display: flex;
}

.box_one {
    border-width: 0px;
    position: absolute;
    left: 38px;
    top: 38px;
    width: 3px;
    height: 35px;
    display: flex;
}

.thread {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3px;
    height: 40px;
    background: inherit;
    background-color: rgba(94, 170, 183, 1);
    border: none;
    border-radius: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.box_two {
    border-width: 0px;
    position: absolute;
    left: 275px;
    top: 38px;
    width: 3px;
    height: 35px;
    display: flex;
}

.stuform-body {
    background-color: rgba(94, 170, 183, 1);
    margin-top: 18px;
    border-radius: 5px;
}

.ellipse_three {
    border-width: 0px;
    position: absolute;
    left: 36px;
    top: 73px;
    width: 6px;
    height: 6px;
    display: flex;
    opacity: 0.6;
}

.ellipse_thr {
    border-width: 0px;
    position: absolute;
    left: 33px;
    top: 70px;
    width: 12px;
    height: 12px;
    display: flex;
}

.ellipse_four {
    border-width: 0px;
    position: absolute;
    left: 273px;
    top: 73px;
    width: 6px;
    height: 6px;
    display: flex;
    opacity: 0.6;
}

.ellipse_f {
    border-width: 0px;
    position: absolute;
    left: 270px;
    top: 70px;
    width: 12px;
    height: 12px;
    display: flex;
}

.stu_head {
    width: 100px;
    height: 100px;

    margin: 0 auto;
    padding: 60px 40px 20px 40px;
}

.stu_head img {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.info_box {
    padding: 20px;
}


.info_table td {
    line-height: 40px;

}

.icon_info {
    color: rgba(94, 170, 183, 1);
    padding: 0 7px;
}

.layui-form-select dl dd.layui-this {
    background-color: rgba(94, 170, 183, 1);
    color: #fff;
}

.layui-table[lay-skin=row] td,
.layui-table[lay-skin=row] th {
    border-width: 0 0 0 0;
}

.info_stu {
    /* background-color: #eee; */
    height: 735px;
}

.info_stutit {
    font-weight: bold;
}

.exam_status {
    width: 240px;
    float: right;
    padding: 5px 15px;
}

.exam_box {

    padding: 15px;
    background-color: #fff;

}

.exam_info {

    height: 100px;
    background-color: #F7FBFC;
    margin-bottom: 30px;
    border: 1px solid #CFE6EA;
    padding: 10px;

}

.choisetab {
    background-color: #5EAAB7 !important;
    color: #fff !important;
}

.exam_tit {
    font-size: 18px;
    color: #666666;
    line-height: 30px;
}

.exam_infotitle {
    text-align: center;
}

.exam_zt {
    float: right;
}

.beginTest {
    background-color: #fff;
    border: 1px solid rgba(94, 170, 183, 1);
    color: rgba(94, 170, 183, 1);
    border-radius: 5px;
    width: 240px;

}

.beginTest:hover {
    background-color: rgba(94, 170, 183, 1);
    border: 1px solid rgba(94, 170, 183, 1);
    color: #fff;
    border-radius: 5px;

}

.btn_begin {
    padding: 10px 0;
    text-align: center;
}

.exam_state {
    color: #5EAAB7;
}

.exam_state1 {
    color: #04A751;
}

.stu_info_box {
    padding: 10px 10px 40px 10px;
    height: 200px;
}

.stu_head {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    padding: 35px;
}

.stu_stuInfo {
    height: 670px;
}



.exam_stuInfo {
    border: #5EAAB7 1px solid;
    background-color: #fff;
    border-radius: 5px;


}

.exam_stu_head {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    padding: 10px;
}

.exam_stu_head img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.exam_info_box {
    padding: 0 10px;
    height: auto;


}

.layui-table[lay-skin=row] {
    border: none;
    border-radius: 5px;
}

.exam_info_table td,
.exam_info_table th {
    position: relative;
    padding: 9px 5px;
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
    display: inline-block;
}

.exam_num {

    border: #5EAAB7 1px solid;
    background-color: #fff;
    padding: 10px;
    display: block;
    overflow: hidden;

}

.datika {
    height: 50px;
    background-color: #5EAAB7;
    margin-top: 15px;
    line-height: 50px;
    color: #fff;
}

.q_num {
    float: right;
    padding: 0 10px;
}

.q_icon {
    color: #fff;
    padding: 0 8px;
}

.qselect {
    color: #666;
}

.qtit {
    font-weight: 400;
}

.exam_number {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    text-align: center;
    color: #666666;
    line-height: 25px;
    position: relative;
    float: left;
    margin: 5px;
    cursor: pointer;
}

.exam_number:hover {

    border: 1px solid #5EAAB7;
}

.exam_number1 {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #ff6633;
    text-align: center;
    color: #666666;
    line-height: 25px;
    position: relative;
    float: left;
    margin: 5px;
}

.exam_number2 {
    height: 25px;
    width: 25px;
    background-color: #CFE6EA;
    border: 1px solid #5EAAB7;
    text-align: center;
    color: #666666;
    line-height: 25px;
    position: relative;
    float: left;
    margin: 5px;
}

#u_countDown {
    height: 70px;
    margin-top: 15px;

}

#u_countDown_div {
    border-width: 0px;
    height: 95px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(94, 170, 183, 1);
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.time_container {
    text-align: center;
    line-height: 45px;
    margin-top: 20px;
}

.ys1 {
    color: #ff6633;
    font-weight: bold;
    font-size: 16px;

}

.t_co {
    color: #333333;
    font-weight: 400;
    letter-spacing: 9px;
    margin-left: 3px;
}

.exam_title {

    text-align: center;
    font-size: 18px;
    line-height: 30px;

}

.exam-head {
    height: 40px;
    background-color: #eee;
    padding: 10px;
}

.btn_save {
    background-color: #5EAAB7;
    border-radius: 5px;
    float: right;
}

.btn_save:hover {
    background-color: #fff;
    border-radius: 5px;
    color: #5EAAB7;
    float: right;
}

.layui-elem-field legend {
    margin-left: 20px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 300;
}

.layui-input-block {
    margin-left: 30px;
    min-height: 36px;
}

.layui-form-radio {
    padding-right: 50px;
}

.layui-form-radio>i {
    font-size: 14px;
}

.layui-elem-field {
    margin-bottom: 20px;
}

.btn_over {
    padding: 20px;
    margin: 0 auto;
}

.btn_tijiao {
    background-color: #5EAAB7;
}

.jiaoshi {
    padding-right: 0;
}

.exit {
    color: #fff;
}

.examInfo_stu {
    height: 50px;
    background-color: #5EAAB7;
    line-height: 50px;
    color: #fff;
}

.exam_endtime {
    float: right;
    line-height: 40px;
    color: #5EAAB7;
    padding: 0 10px;
    font-weight: 600;
}


.input_edit{
    margin-top: 6px;
    border: #5EAAB7 1px solid;
}

.edit_pwd {
    background-color: #5EAAB7;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.icon_pwd {
    padding: 0 5px;
}

.layui-layer-btn .layui-layer-btn0 {
    border-color: #5EAAB7 !important;
    background-color: #5EAAB7 !important;
    color: #fff;
}

.mainbox {
    width: 200px;
    height: 125px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 15%;
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:0 0 2em;
    color: #5EAAB7;
    font-size: 20px;
}

.time-card {
    margin: 0 1em;
    text-align: center;
}

.time-card-count {
    width: 20px;
    height: 77px;
    line-height: 77px;
    overflow: hidden;
}

.time-card-count:after {
    display: block;
    font-size: 18px;
}

.time-card-label {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.7;
    margin-top: -20px;
    color: #666666;
}

.colon {
    font-size: 14px;
    color: #666666;
}


[data-max="24"] .time-card-count:after {
    content: '00 01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23';
}

[data-max="60"] .time-card-count:after {
    content: '00 01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59';
}

[id="start"]~.timer [data-type="hours"] .time-card-count:after {
    -webkit-animation: counter 86400s infinite steps(24) forwards;
    animation: counter 86400s infinite steps(24) forwards;
}

[id="start"]~.timer [data-type="minutes"] .time-card-count:after {
    -webkit-animation: counter 3600s infinite steps(60) forwards;
    animation: counter 3600s infinite steps(60) forwards;
}

[id="start"]~.timer [data-type="seconds"] .time-card-count:after {
    -webkit-animation: counter 60s infinite steps(60) forwards;
    animation: counter 60s infinite steps(60) forwards;
}


@-webkit-keyframes counter {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes counter {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}
.inin{
    color: #333;
    padding: 0 6px;
    font-size: 12px;
}