<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>测评页面</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/student.css">
    <script src="PokioPlugin/jquery-3.3.1.min.js"></script>
</head>

<body id="tags" name="exampage" roletype="student">
    <div class="main">
        <!-- 导航栏 -->
        <div class="headpage"></div>
        <div class="layui-fluid body-container">
            <div class="layui-row">
                <div class="layui-col-xs3 layui-col-sm3 layui-col-md3 info_student">
                    <div class="exam_stuInfo">
                        <div class="exam_stu_head">
                            <img src="img/u66.svg">
                        </div>
                        <div class="exam_info_box stuinfo2">
                            <table class="layui-table  exam_info_table" lay-skin="row">
                                <colgroup>
                                    <col width="50">
                                    <col width="130">

                                </colgroup>

                                <tbody>
                                    <tr>
                                        <td class="info_stutit">姓名：</td>
                                        <td v-html="realName"></td>

                                    </tr>
                                    <tr>
                                        <td class="info_stutit">性别：</td>
                                        <td v-html="sex"></td>

                                    </tr>
                                    <tr>
                                        <td class="info_stutit">学号：</td>
                                        <td v-html="stuid"></td>

                                    </tr>
                                    <tr>
                                        <td class="info_stutit">班级：</td>
                                        <td v-html="className"></td>

                                    </tr>
                                    <tr>
                                        <td class="info_stutit">年级：</td>
                                        <td v-html="gradename"></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="contannum" class="contannum">
                        <div class="datika"><i class="layui-icon layui-icon-tabs q_icon"></i><b
                                class="q_dati">答题卡</b><span class="q_num">共{{contnum.length}}题</span></div>
                        <div class="exam_num">
                            <div class="exam_number" v-for="(num,index) in contnum"
                                :class="['anser'+(index+1),{choisetab:num.choiceoption!=0&&num.choiceoption!=null}]"
                                v-bind:gotoid="'anserid'+(index+1)" onclick="gotofornum(this);">
                                <span v-html="index+1"></span>
                            </div>
                        </div>
                    </div>
                    <div id="u_countDown" class="ax_default" data-left="115" data-top="375" data-width="190"
                        data-height="229">
                        <div class="datika"><i class="layui-icon layui-icon-log q_icon"></i><b class="q_dati">答题时间</b>
                        </div>
                        <div id="u_countDown_div" class="">
                            <div class="mainbox">
                                <div class="timer" id="showtime">
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
                <div class="layui-col-xs9 layui-col-sm9 layui-col-md9 theform_student">
                    <div class="exam-head">
                        <span class="wait_txt planbaseinfo1"><i class="layui-icon layui-icon-list q_topic"
                                style="font-size: 24px;font-weight: 700;"></i>{{examname}}
                            <input type="text" id="checktypeid" v-model="checktypeid" hidden>
                            <input type="text" id="planstudentid" v-model="planstudentid" hidden>
                        </span>
                        <!-- <span class="exam_time">(考试时间：120分钟)</span> -->
                        <span class="exam_save"><a href="#" class="layui-btn btn_save">保存</a></span>
                    </div>

                    <div class="exam_box" id="papercontant">
                        <input type="hidden" id="quesnum" v-bind:value="titall.length" />
                        <fieldset class="layui-elem-field" v-for="(tit,num) in titall">
                            <legend v-html="tit.titcont" v-bind:id="'anserid'+(num+1)"></legend>
                            <div class="layui-field-box">
                                <form class="layui-form" action="">
                                    <div class="layui-input-block qselect">
                                        <input v-bind:name="'anser'+(num+1)" v-bind:titleid="tit.titleid"
                                            v-bind:titleOrder="tit.titleOrder" v-bind:dimensionid="tit.dimensionid"
                                            v-for="(ans,index) in tit.answerall" type="radio"
                                            v-bind:optionscore="ans.optioncontentscore"
                                            v-bind:useranswer="ans.useranswer" v-bind:title="ans.ABCoptionCotent"
                                            v-bind={checked:ans.ifcheck} v-bind:choiceoption="index+1">
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                        <div style="width: 210px;" class="btn_over">
                            <button type="button" class="layui-btn layui-btn-fluid btn_tijiao" id="btn">交卷</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="push">
            <!-- not put anything here -->
        </div>
    </div>
    <!-- 页脚 -->
    <div class="footpage"></div>
</body>
<script src="layui/layui.js"></script>
<script src="PokioPlugin/vue.js"></script>
<script src="js/PublicVariable.js"></script>

</html>