<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>学生首页</title>
  <link rel="stylesheet" href="layui/css/layui.css">
  <link rel="stylesheet" href="css/student.css">
  <script src="PokioPlugin/jquery-3.3.1.min.js"></script>
</head>

<body id="tags" name="stuhomepage">
  <div class="main">
    <!-- 导航栏 -->
    <div class="headpage"></div>

    <div class="body-container">
      <div class="layui-col-xs3 layui-col-sm3 layui-col-md3 info_stu">
        <div class="stuform-head">
          <div class="stu_info"><span class="stu_txt">学生信息</span></div>
        </div>

        <div class="ax_default ellipse_o">
          <img class="img " src="img/u24.svg" />

        </div>

        <!-- Unnamed (圆形) -->
        <div class="ax_default ellipse_one">
          <img class="img " src="img/u25.svg" />

        </div>

        <div class="ax_default ellipse_t">
          <img class="img " src="img/u24.svg" />

        </div>

        <!-- Unnamed (圆形) -->
        <div class="ax_default ellipse_two">
          <img class="img " src="img/u25.svg" />

        </div>

        <div class="stuform-body">
          <div class="ax_default ellipse_thr">
            <img class="img " src="img/u24.svg" />

          </div>
          <div class="ax_default ellipse_three">
            <img class="img " src="img/u25.svg" />

          </div>
          <div class="ax_default ellipse_f">
            <img class="img " src="img/u24.svg" />

          </div>
          <div class="ax_default ellipse_four">
            <img class="img " src="img/u25.svg" />

          </div>
          <div class="ax_default box_one">
            <div class="thread"></div>

          </div>
          <div class="ax_default box_two">
            <div class="thread"></div>

          </div>

          <div class="stu_stuInfo stuinfo2" v-cloak>
            <div class="stu_head">
              <img src="img/u17.svg">
            </div>
            <div class="stu_info_box">
              <table class="layui-table  exam_info_table" style="height: 350px;" lay-skin="row">
                <colgroup>
                  <col width="80">
                  <col width="170">
                </colgroup>
                <tbody>
                  <tr>
                    <td class="info_stutit"><i class="layui-icon layui-icon-username icon_info"></i> 姓名：</td>
                    <td v-html="realName"></td>

                  </tr>
                  <tr>
                    <td class="info_stutit"><i class="layui-icon layui-icon-male icon_info"></i> 性别：</td>
                    <td v-html="sex"></td>

                  </tr>
                  <tr>
                    <td class="info_stutit"><i class="layui-icon layui-icon-note icon_info"></i>学号：</td>
                    <td v-html="stuid"></td>

                  </tr>
                  <tr>
                    <td class="info_stutit"><i class="layui-icon layui-icon-user icon_info"></i>班级：</td>
                    <td v-html="className"></td>

                  </tr>
                  <tr>
                    <td class="info_stutit"><i class="layui-icon layui-icon-table icon_info"></i>年级：</td>
                    <td v-html="gradename"></td>

                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>

      <div class="layui-col-xs9 layui-col-sm9 layui-col-md9 theform_stu">
        <div class="theform-head">
          <div class="waitingfor"><img src="img/u43.svg"><span class="wait_txt">待完成考试</span></div>
          <form class="layui-form" action="">
            <div class="layui-input-block exam_status">
              <select name="interest" class="exselect_sta" lay-filter="exselect_sta">
                <option value="10" selected>选择试卷状态</option>
                <option value="10">全部</option>
                <option value="1">已测</option>
                <option value="0">未测</option>
                <option value="2">测试中</option>
              </select>
            </div>


          </form>

        </div>
        <div class="exam_box" id="examplans">
          <div class="exam_info" v-for="plan in theplans">
            <div class="exam_infotitle">
              <p class="exam_tit">{{plan.examname}}</p>
            </div>
            <span>测评时间：{{plan.starttime}} ~ {{plan.endtime}}</span>
            <span class="exam_zt">
              测评状态：<b class="exam_state" v-if="plan.examtype == 0">未测</b>
              <b class="exam_state" v-else-if="plan.examtype == 1">已测</b>
              <b class="exam_state" v-else-if="plan.examtype == 2">测试中</b>
            </span>
            <div class="btn_begin">
              <button class="layui-btn beginTest" v-bind:planstudentid="plan.planstudentid" type="button" onclick="examstatu(this);">开始测评</button>
            </div>
          </div>
          <div id="sexamplan" style="position: absolute;left: 15px;bottom: 0;"></div>
        </div>



      </div>


    </div>
    <div class="push">
      <!-- not put anything here -->
    </div>
  </div>

  <!-- 页脚 -->
  <div class="footpage"></div>
</body>
<script src="layui/layui.js"></script>
<script type="text/javascript" src="js/PublicVariable.js"></script>

</html>