<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>测评页面</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/student.css">
    <link rel="stylesheet" href="css/public.css">
    <script src="PokioPlugin/jquery-3.3.1.min.js"></script>
</head>

<body id="tags" name="exampage">
    <div class="main">
        <!-- 导航栏 -->
        <div class="headpage"></div>
        <div class="body-container">
            <div class="layui-col-xs3 layui-col-sm3 layui-col-md2 info_stu">
                <div class="exam_stuInfo">
                    <div class="exam_stu_head">
                        <img src="img/u66.svg">
                    </div>
                    <div class="exam_info_box stuinfo2">
                        <table class="layui-table  exam_info_table" lay-skin="row">
                            <colgroup>
                                <col width="50">
                                <col width="130">

                            </colgroup>

                            <tbody>
                                <tr>
                                    <td class="info_stutit">姓名：</td>
                                    <td v-html="realName"></td>

                                </tr>
                                <tr>
                                    <td class="info_stutit">性别：</td>
                                    <td v-html="sex"></td>

                                </tr>
                                <tr>
                                    <td class="info_stutit">学号：</td>
                                    <td v-html="stuid"></td>

                                </tr>
                                <tr>
                                    <td class="info_stutit">班级：</td>
                                    <td v-html="className"></td>

                                </tr>
                                <tr>
                                    <td class="info_stutit">年级：</td>
                                    <td v-html="gradename"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="contannum">
                    <div class="datika"><i class="layui-icon layui-icon-tabs q_icon"></i><b class="q_dati">答题卡</b><span
                            class="q_num">共{{contnum.length}}题</span></div>
                    <div class="exam_num">
                        <div class="exam_number" v-for="(num,index) in contnum">
                            <span v-html="index+1"></span>
                        </div>
                    </div>
                </div>
                <div id="u_countDown" class="ax_default" data-left="115" data-top="375" data-width="190"
                    data-height="229">
                    <div class="datika"><i class="layui-icon layui-icon-log q_icon"></i><b class="q_dati">答题时间</b>
                    </div>
                    <div id="u_countDown_div" class="">

                        <div class="mainbox">
                            <input type="checkbox" id="start" hidden>
                            <input type="checkbox" id="stop" hidden>
                            <input type="checkbox" id="reset" hidden>
                            <div class="timer">
                                <div class="time-card" data-type="hours" data-max="24">
                                    <div class="time-card-count"></div>
                                    <div class="time-card-label">时</div>
                                </div>
                                <span class="colon">:</span>
                                <div class="time-card" data-type="minutes" data-max="60">
                                    <div class="time-card-count"></div>
                                    <div class="time-card-label">分</div>
                                </div>
                                <span class="colon">:</span>
                                <div class="time-card" data-type="seconds" data-max="60">
                                    <div class="time-card-count"></div>
                                    <div class="time-card-label">秒</div>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>



            </div>

            <div class="layui-col-xs10 layui-col-sm10 layui-col-md10 theform_stu" id="papercontant">
                <div class="exam-head">
                    <span class="wait_txt"><i class="layui-icon layui-icon-list q_topic"
                            style="font-size: 24px;font-weight: 700;"></i> 第二套中学生心理健康测评卷</span>
                    <span class="exam_time">(考试时间：120分钟)</span>
                    <span class="exam_save"><a href="#" class="layui-btn btn_save">保存</a></span>
                </div>

                <div class="exam_box">
                    <!-- <fieldset class="layui-elem-field">
                        <legend><span class="qid">1、</span><b class="qtit">老师在向全班提问时，你是否会觉得是在提问自己而感到不安？</b></legend>
                        <div class="layui-field-box">
                            <form class="layui-form" action="">
                                <div class="layui-input-block qselect">
                                    <input type="radio" name="t" value="男" title="A、是" lay-filter="aaa" />
                                    <input type="radio" name="t" value="女" title="B、否" lay-filter="aaa" />
                                </div>
                            </form>
                        </div>
                    </fieldset>
                    <fieldset class="layui-elem-field">
                        <legend><span class="qid">2、</span><b class="qtit">是否认为学校里得到的学习成绩总是不大可靠的？</b></legend>
                        <div class="layui-field-box">
                            <form class="layui-form" action="">
                                <div class="layui-input-block qselect">
                                    <input type="radio" name="sex1" value="男" title="A、是" lay-filter="bbb">
                                    <input type="radio" name="sex1" value="女" title="B、否" lay-filter="bbb">

                                </div>
                            </form>
                        </div>
                    </fieldset> -->
                    <fieldset class="layui-elem-field" v-for="tit in titall">
                        <legend v-html="tit.titcont"></legend>
                        <div class="layui-field-box">
                            <form class="layui-form" action="">
                                <div class="layui-input-block qselect">
                                        <input name="anser" v-for="(ans,index) in tit.answerall" type="radio"
                                        v-bind:value="ans.optioncontentscore" v-bind:title="ans.ABCoptionCotent" v-bind={checked:ans.ifcheck}>
                                </div>
                            </form>
                        </div>
                    </fieldset>
                    <div style="width: 210px;" class="btn_over">
                        <button type="button" class="layui-btn layui-btn-fluid btn_tijiao" id="btn">交卷</button>
                    </div>

                </div>



            </div>


        </div>
        <div class="push">
            <!-- not put anything here -->
        </div>
    </div>
    <!-- 页脚 -->
    <div class="footpage"></div>
</body>
<script src="layui/layui.js"></script>
<script type="text/javascript" src="js/PublicVariable.js"></script>

</html>